* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    overflow: hidden;
    background-color: black;
    height: 70px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    float: left;
    z-index: 2;
}

#form-logo {
    float: left;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    height: 30px;
    margin-left: 15px;
}

.hamburger {
    float: right;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: 15px;
}

.line {
    height: 3px;
    width: 17px;
    background-color: white;
    margin-top: 3px;
}

video {
    min-width: 100%;
    min-height: 100%;
    max-height: calc(100vh - 70px);
    position: absolute;
    right: 0;
    top: 70px;
}

.main-video {
    height: 100vh;
}

.main-video p:first-of-type {
    color: white;
    position: relative;
    top: 250px;
    margin: 0 15px 15px 15px;
    padding-right: 70px;
    font-weight: bold;
    /* letter-spacing: 1.1em;  not something to use here but this looks cool */
    letter-spacing: .05em;
    font-size: 2.3em;
    font-family: "PT Sans Narrow", sans-serif;
    z-index: 10;
}

.main-video p {
    color: white;
    position: relative;
    top: 250px;
    margin: 0 15px 15px 15px;
    padding-right: 40px;
    font-family: "PT Sans Narrow", sans-serif;
    letter-spacing: .04em;
    font-weight: lighter;
    font-size: 14px;
}

.projects-page {
    width: 100vw;
    background-color: white;
    position: relative;
}

.projects-page img {
    width:100vw;
    height: auto;
    padding: 15px 15px;
    position: relative;
}

.projects-page figcaption {
    color: #888;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 100;
    letter-spacing: .04em;
    font-size: .9em;
    margin-left: 15px;
    position: relative;
    top: -13px;    
}

.projects-page .fig-main {
    font-size: 1.2em;
    margin-bottom: -10px;
}

.love-notes-section {
    width: 100vw;
    height: 150px;
    margin-bottom: 20px;
    background-color: white;
    position: relative;
}

.love-notes {
    height: auto;
    width: 100px;
    background-color: black;
    position: relative;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: content-box;

}

.love-notes:first-child {
    color: white;
    font-family: "PT Sans Narrow", sans-serif;
    text-align: center;
    font-size: 1em;
    padding: 8px 8px;
    position: absolute;
}

.working-with {
    color: #888;
    font-family: "Open Sans", sans-serif;
    letter-spacing: -.01em;
    font-style: italic;
    position: relative;
    padding: 15px;
    padding-top: 0;
}
